@model GameCollectorsHub.Web.ViewModels.GameCollection.AllGameCollectionViewModel
@{
    ViewData["Title"] = "AllCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-dark">
        <h1>Your Game Wishlist</h1>
        <h4>Items in wishlist: @Model.ItemsInCollection</h4>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Game Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.GameCollectionItems)
                    {
                        <tr>
                            <td><img src="@game.GameImgUrl" style="max-height: 85px; max-width: 85px;" /></td>
                            <td><a asp-action="Details" asp-controller="Game" asp-route-id="@game.GameId">@game.GameName (@game.PlatformName)</a></td>
                            <td>
                                <a asp-action="Edit" asp-controller="GameCollection" asp-route-gameId="@game.GameId">Add to Collection</a> | 
                                <a asp-action="Delete" asp-route-gameId="@game.GameId">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



