@model GameCollectorsHub.Web.ViewModels.GameCollection.GameCollectionDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark row">
    <div class="col-md-6 px-0">
        <img src="@Model.GameImgUrl" style="max-width: 400px; max-height: 400px" />
    </div>
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">@Model.GameName for @Model.PlatformName</h1>
        <div>
            <h2 class="lead">Current Value: @Model.Value $</h2>
            <p class="lead">Your Cost: @Model.Cost $</p>
            <p class="lead">Includes: @Model.WhatIncludes</p>
            <p class="lead">Condition: @Model.Condition</p>
            <a asp-action="Edit" asp-route-userId="@Model.UserId" asp-route-gameId="@Model.GameId">Edit Details</a> |
            <a asp-action="Delete" asp-route-userId="@Model.UserId" asp-route-gameId="@Model.GameId">Remove</a>
        </div>
    </div>
</div>

