@model GameCollectorsHub.Web.ViewModels.Amiibo.AllAmiibosViewModel
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-light">
        <div class="text-center">
            <h1>All @Model.Amiibos.FirstOrDefault().SeriesName Amiibos</h1>
        </div>

        <div class="py-5">
            <div class="row">
                @foreach (var amiibo in Model.Amiibos)
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-4">
                        <div class="card box-shadow" style="width: 100%;">
                            <a asp-action="Details" asp-route-id="@amiibo.Id"><img src="@amiibo.ImgUrl" class="card-img-top" alt="@amiibo.Name" style="height: 350px"></a>
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">@amiibo.Name</h5>
                                    <p class="card-text">@amiibo.Franchise franchise</p>
                                    <p class="card-text">@amiibo.ReleaseDate.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

