@model GameCollectorsHub.Web.ViewModels.Amiibo.AmiiboDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark row">
        <div class="col-md-6 px-0">
            <img src="@Model.ImgUrl" style="max-width: 400px;" />
        </div>
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">@Model.Name</h1>
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Browse" asp-route-id="@Model.AmiiboSeriesId"><p class="lead">@Model.AmiiboSeriesName series</p></a>
                    <p class="lead">Release Date: @Model.ReleaseDate.ToShortDateString()</p>
                    @if (!Model.IsInCollection)
                    {
                        <a class="btn btn-primary btn-lg btn-block" asp-action="AddToCollection" asp-route-amiiboId="@Model.Id">Add To Collection!</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="AllCollection" asp-controller="AmiiboCollection">Amiibo is in your collection</a>
                    }

                    @if (!Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <form class="mt-2" asp-action="AddToWishlist" asp-route-amiiboId="@Model.Id">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add to Your Wishlist!</button>
                        </form>
                    }
                    else if (Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="All" asp-controller="AmiiboWishlist">Amiibo is in your wishlist</a>
                    }
                </div>
                <div class="col-md-6">
                    <p class="lead">Current Prices</p>
                    <hr style="border: solid; color:white" />
                    <p class="lead">Loose Price: @Model.UsedPrice</p>
                    <p class="lead">New Price: 	@Model.NewPrice</p>
                </div>
            </div>
        </div>
    </div>
</div>

<main role="main" class="container bg-light">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h2 class="pb-4 mb-4 font-italic border-bottom">
                Overview
            </h2>
            <h2 class="pb-4 mb-4 font-italic border-bottom mt-4">
                About
            </h2>

            <p>@Model.Description</p>

            <div class="mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
                <a asp-action="Browse" asp-route-id="@Model.AmiiboSeriesId">Back to @Model.AmiiboSeriesName Amiibos</a>
            </div>
        </div>

        <aside class="col-md-4 blog-sidebar p-3">
            <h3>@Model.Franchise franchise</h3>
            <hr style="border: solid; color: darkgray" />
            <ul class="list-group">
                @foreach (var franchiseAmiibo in Model.FranchiseAmiibos)
                {
                    <li class="row mt-3 container-fluid shadow-lg border-dark rounded">
                        <div class="col-md-3">
                            <img src="@franchiseAmiibo.ImgUrl" style="width: 75px;" />
                        </div>
                        <div class="col-md-9 text-center">
                            <a asp-action="Details" asp-route-id="@franchiseAmiibo.Id"><h2>@franchiseAmiibo.Name</h2></a>
                        </div>
                    </li>
                }
            </ul>
        </aside>
    </div>

</main>

