@model GameCollectorsHub.Web.ViewModels.Game.GameDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark row">
        <div class="col-md-6 px-0">
            <img src="@Model.ImageUrl" style="max-width: 350px; max-height: 350px" />
        </div>
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">@Model.Name</h1>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">System: @Model.PlatformName</p>
                    <p class="lead">Publisher: @Model.Publisher</p>
                    <p class="lead">Developer: @Model.Developer</p>
                    @if (!Model.IsInCollection)
                    {
                        <a class="btn btn-primary btn-lg btn-block" asp-action="AddToCollection" asp-route-gameId="@Model.Id">Add To Collection!</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="AllCollection" asp-controller="GameCollection">Game is in your collection</a>
                    }

                    @if (!Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <form class="mt-2" asp-action="AddToWishlist" asp-route-gameId="@Model.Id">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add to Your Wishlist!</button>
                        </form>
                    }
                    else if(Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="All" asp-controller="GameWishlist">Game is in your wishlist</a>
                    }
                </div>
                <div class="col-md-6">
                    <p class="lead">Our Review Score: @Model.OurReviewScore </p>
                    <p class="lead">Users Score: 8</p>
                    <p class="lead">Current Prices:</p>
                    <p class="lead">Loose Price: €22.16</p>
                    <p class="lead">Complete Price: €77.55</p>
                    <p class="lead">New Price: 	€901.39</p>
                </div>
            </div>
        </div>
    </div>
</div>

<main role="main" class="container bg-dark">
    <h2 class="pb-4 mb-4 font-italic border-bottom">
        Overview
    </h2>

    <div class="row">
        <div class="col-md-2">
            <p class="lead font-weight-bolder">Genre:</p>
            <p class="lead font-weight-bolder">Release Date:</p>
            <p class="lead font-weight-bolder">Series:</p>
        </div>
        <div class="col-md-2">
            <p class="lead">@Model.Genre</p>
            <p class="lead">@Model.ReleaseDate.ToShortDateString()</p>
            <p class="lead">@Model.Series</p>
        </div>
    </div>

    <h2 class="pb-4 mb-4 font-italic border-bottom mt-4">
        About The Game
    </h2>

    <p>@Model.Description</p>

    <h2 class="pb-4 mb-4 font-italic border-bottom">
        Reviews
    </h2>

    @if (!Model.Reviews.Any() || Model.Reviews == null)
    {
        <h3 class="font-italic text-center">Sorry, no review of @Model.Name yet.</h3>
    }
    @if (Model.Reviews.Any())
    {

        @foreach (var review in Model.Reviews)
        {
            <div class="row bg-light rounded ml-2" style="border:none; height:auto; width:75%">
                <div class="col-xs-6">
                    <img src="@review.ReviewImgUrl" style="width: 120px; margin-left:15px;" />
                </div>
                <div class="col-xs-6" style="margin-left: 20px">
                    <a asp-controller="GameReview" asp-action="View" asp-route-id="@review.ReviewId"><h3>@review.ReviewName</h3></a>
                    <p style="font-size:15px; font-style:italic; color:#03225C;">@review.ShortReviewContent...</p>
                </div>
            </div>
        }
    }

    <h2 class="pb-4 mb-4 font-italic border-bottom">
        User Ratings
    </h2>

    <div class="container">
        <div class="row">
            <div class="comment">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#comments" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                    <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments">
                        <ul class="media-list rounded" style="background-color: gray">
                            <li class="media">
                                <div class="pull-left">
                                    <div class="rounded" style="background-color: red">
                                        <h2>8/10</h2>
                                    </div>
                                </div>
                                <div class="media-body ml-3">
                                    <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews">Username</h4>
                                        <p>
                                            TextTextTextTextTextTextTextTextTextTextTextText
                                            Text
                                            Text
                                            Text
                                            Text
                                            Text
                                            Text

                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="add-comment">
                        <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Comment</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">http://</div>
                                        <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        <a asp-action="Browse" asp-route-id="@Model.PlatformId">Back to @Model.PlatformName games</a>
    </div>

</main>

