@model GameCollectorsHub.Web.ViewModels.Game.GameDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark row">
        <div class="col-md-6 px-0">
            <img src="@Model.ImageUrl" style="max-width: 350px; max-height: 350px" />
        </div>
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">@Model.Name</h1>
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">System: @Model.PlatformName</p>
                    <p class="lead">Publisher: @Model.Publisher</p>
                    <p class="lead">Developer: @Model.Developer</p>
                    @if (!Model.IsInCollection)
                    {
                        <a class="btn btn-primary btn-lg btn-block" asp-action="AddToCollection" asp-route-gameId="@Model.Id">Add To Collection!</a>
                    }
                    else
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="AllCollection" asp-controller="GameCollection">Game is in your collection</a>
                    }

                    @if (!Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <form class="mt-2" asp-action="AddToWishlist" asp-route-gameId="@Model.Id">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Add to Your Wishlist!</button>
                        </form>
                    }
                    else if (Model.IsInWishlist && !Model.IsInCollection)
                    {
                        <a class="btn btn-danger btn-lg btn-block" asp-action="All" asp-controller="GameWishlist">Game is in your wishlist</a>
                    }
                </div>
                <div class="col-md-6">
                    <p class="lead">Our Review Score: @Model.OurReviewScore </p>
                    <p class="lead">Users Score: @Model.UserRatingScore</p>
                    <p class="lead">Current Prices:</p>
                    <p class="lead">Loose Price: @Model.UsedPrice</p>
                    <p class="lead">Complete Price: @Model.CompletePrice</p>
                    <p class="lead">New Price: @Model.NewPrice</p>
                </div>
            </div>
        </div>
    </div>
</div>

<main role="main" class="container bg-dark">
    <h2 class="pb-4 mb-4 font-italic border-bottom">
        Overview
    </h2>

    <div class="row">
        <div class="col-md-2">
            <p class="lead font-weight-bolder">Genre:</p>
            <p class="lead font-weight-bolder">Release Date:</p>
            <p class="lead font-weight-bolder">Series:</p>
        </div>
        <div class="col-md-2">
            <p class="lead">@Model.Genre</p>
            <p class="lead">@Model.ReleaseDate.ToShortDateString()</p>
            <p class="lead">@Model.Series</p>
        </div>
    </div>

    <h2 class="pb-4 mb-4 font-italic border-bottom mt-4">
        About The Game
    </h2>

    <p>@Model.Description</p>

    <h2 class="pb-4 mb-4 font-italic border-bottom">
        Reviews
    </h2>

    @if (!Model.Reviews.Any() || Model.Reviews == null)
    {
        <h3 class="font-italic text-center">Sorry, no review of @Model.Name yet.</h3>
    }
    @if (Model.Reviews.Any())
    {

        @foreach (var review in Model.Reviews)
        {
            <div class="row bg-light rounded ml-2" style="border:none; height:auto; width:75%">
                <div class="col-xs-6">
                    <img src="@review.ReviewImgUrl" style="width: 120px; margin-left:15px;" />
                </div>
                <div class="col-xs-6" style="margin-left: 20px">
                    <a asp-controller="GameReview" asp-action="View" asp-route-id="@review.ReviewId"><h3>@review.ReviewName</h3></a>
                    <p style="font-size:15px; font-style:italic; color:#03225C;">@review.ShortReviewContent...</p>
                </div>
            </div>
        }
    }

    <h2 class="pb-4 mb-4 font-italic border-bottom">
        User Ratings
    </h2>

    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="home" aria-selected="true">User ratings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add-rating" role="tab" aria-controls="profile" aria-selected="false">Add rating</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="ratings" role="tabpanel" aria-labelledby="home-tab">
                @if (!Model.UserRatings.Any())
                {
                    <h3 class=" font-italic text-center">No user ratings yet.</h3>
                }
                else
                {
                    <ul>
                        @foreach (var rating in Model.UserRatings)
                        {
                            <li class="media mt-3">
                                <div class="container rounded" style="width: 75%; background-color: gray">
                                    <div class="media-body">
                                        <h5 class="mt-0">@rating.UserName</h5>
                                        <h3>Rating: @rating.RatingScore / 10</h3>
                                        @rating.Content
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <div class="tab-pane fade" id="add-rating" role="tabpanel" aria-labelledby="profile-tab">
                <form asp-action="AddComment" method="post" class="form-horizontal">
                    @if (Model.UserRatings.Any(a => a.UserId == Model.UserId))
                    {
                        <h3 class=" font-italic text-center">You can write review only once!</h3>
                    }
                    else
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" hidden value="@Model.Id" class="form-control" />
                        <div class="form-group">
                            <label asp-for="AddUserRatingScore" class="col-sm-2">Rating Score</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label asp-for="AddUserRatingScore" class="control-label"></label>
                                    <select asp-for="AddUserRatingScore" class="form-control">
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <span asp-validation-for="AddUserRatingScore" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddUserRatingContent" class="col-sm-2">Comment</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label asp-for="AddUserRatingContent" class="control-label"></label>
                                    <textarea asp-for="AddUserRatingContent" class="form-control"></textarea>
                                    <span asp-validation-for="AddUserRatingContent" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Add Rating" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        <a asp-action="Browse" asp-route-id="@Model.PlatformId">Back to @Model.PlatformName games</a>
    </div>

</main>

