@model GameCollectorsHub.Web.ViewModels.Platform.PlatformsViewModel
@{
    ViewData["Title"] = "Platforms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-dark">
        <div class="text-center">
            <h1>Select platform</h1>
        </div>

        <form class="form-inline mt-4 justify-content-center" asp-action="Search">
            <div class="form-group mb-2">
                <label class="sr-only">Search Games</label>
                <input type="text" readonly class="form-control-plaintext" value="Search in Games">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label asp-for="SearchString" class="sr-only">Game</label>
                <input asp-for="SearchString" type="text" class="form-control" id="search" placeholder="Super Mario...">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search!</button>
        </form>

        <div class="py-5">
            <div class="row">
                @foreach (var platform in Model.Platforms)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 mt-4">
                        <div class="card box-shadow" style="width: 260px; height: 100%">
                            <img src="@platform.ImgUrl" class="card-img-top" alt="@platform.Name" style="height: 250px; width: 250px;">
                            <div class="card-body">
                                <h5 class="card-title">@platform.Name</h5>
                                <p class="card-text">Games Count: @platform.GamesCount</p>
                                <a asp-controller="Game" asp-action="Browse" asp-route-id="@platform.Id" class="btn btn-primary">Browse Games</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

