@model GameCollectorsHub.Web.ViewModels.AmiiboCollection.AddAmiiboToCollectionInputModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-light">
        <h1>Are you sure you want to remove this amiibo from your collection?</h1>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AmiiboName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AmiiboName)
                </dd>
                <dt class="col-sm-2">
                    <a>Image</a>
                </dt>
                <dd class="col-sm-10">
                    <img src="@Model.AmiiboImgUrl" style="max-height: 80px; max-width: 80px" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PricePaid)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PricePaid)
                </dd>
            </dl>

            <form asp-action="DeleteConfirm" asp-route-amiiboId="@Model.AmiiboId">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
