@model GameCollectorsHub.Web.ViewModels.Console.ListConsolesViewModel
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-light">
        <div class="text-center">
            <h1>All @Model.Consoles.FirstOrDefault().PlatformName Consoles</h1>
        </div>

        <div class="py-5">
            <div class="row">
                @foreach (var console in Model.Consoles)
                {
                    <div class="col-lg-3 col-md-3 col-sm-12 mt-4">
                        <div class="card box-shadow" style="width: 260px; height: 100%">
                            <a asp-action="Details" asp-route-id="@console.Id"><img src="@console.ImgUrl" class="card-img-top" alt="@console.Name" style="height: 250px; width: 250px;"></a>
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">@console.Name</h5>
                                    <p class="card-text">@console.Model</p>
                                    <p class="card-text">@console.ReleaseDate.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

