@model GameCollectorsHub.Web.ViewModels.AmiiboCollection.AllAmiiboCollectionViewModel
@{
    ViewData["Title"] = "AllCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container bg-dark">
        <h1>Your Amiibo Wishlist</h1>
        <h4>Items in wishlist: @Model.ItemsInCollection</h4>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Amiibo Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var amiibo in Model.AmiiboCollectionItems)
                    {
                        <tr>
                            <td><img src="@amiibo.AmiiboImgUrl" style="max-height: 85px; max-width: 85px;" /></td>
                            <td><a asp-action="Details" asp-controller="Amiibo" asp-route-id="@amiibo.AmiiboId">@amiibo.AmiiboName (@amiibo.AmiiboSeries series)</a></td>
                            <td>
                                <a asp-action="Edit" asp-controller="AmiiboCollection" asp-route-amiiboId="@amiibo.AmiiboId">Add to Collection</a> | 
                                <a asp-action="Delete" asp-route-amiiboId="@amiibo.AmiiboId">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



